{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}


{% block title %}My Blog - Вход{% endblock %}

{% block page_content %}

<div class="page-header">
    <div class="container">
        <div class="col-md-5">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h1>Вход</h1>
                        </div>
                        <div style="float:right; font-size: 80%;
                         position: relative; top:-10px">
                            <a
         href="{{ url_for('auth.password_reset_request') }}">Забыли пароль?</a>
                        </div>
                    </div>
                    <div style="padding-top:30px" class="panel-body" >

                        {{ wtf.quick_form(form) }}

                        <br>

                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888;
                             padding-top:15px; font-size:85%" >
                                Новый пользователь?
                                <a href="{{ url_for('auth.register') }}">
                                    Кликни сюда для регистрации
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
            <a href="{{ auth_url }}"
            title='Войти с помощью Google+'
            class='btn btn-googleplus'>
        <i class="fa fa-google-plus fa-fw"></i> Google+</a>
        </div>
    </div>
</div>

{% endblock %}
