body {
  /*background: linear-gradient(to top, #03477c, #bbdaf9) fixed;*/
 }

textarea {
    word-wrap: break-word;
    max-width: 100%;
}

textarea.comment_edit {
    margin-top: 30px;
}

a:hover {
    text-decoration: none;
}

label.label {
    transition: all 1.5s;
    margin-left: 2px;
}

label.glyphicon-star {
    margin-right: 5px;
    color: #EEDC82;
    font-size: 120%;
}

label.label:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 03s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

label.voted-up {
    text-shadow: 0 0 10px #13b569,
                 0 0 15px #13b569,
                 0 0 20px #13b569,
                 0 0 25px #2dff6f,
                 0 0 30px #2dff6f,
                 0 0 40px #2dff6f,
                 0 0 50px #2dff6f,
                 0 0 75px #2dff6f;
}

label.voted-down {
    text-shadow: 0 5px 5px #ff0000,
                 0 0 10px #ff0000,
                 0 0 15px #ff0000,
                 0 0 20px #f24c26,
                 0 0 30px #f24c26,
                 0 0 40px #f24c26,
                 0 0 50px #f24c26,
                 0 0 75px #f24c26;
}

label.stared {
    color: #FFD700;
    /*text-shadow: 0 5px 5px #FCDC3B,
                 0 0 10px #FCDC3B,
                 0 0 15px #FCDC3B,
                 0 0 20px #FFD700,
                 0 0 30px #FFD700,
                 0 0 40px #FFD700,
                 0 0 50px #FFD700,
                 0 0 75px #FFD700; */
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

div.post-tabs {
    margin-top: 16px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.posts li.post {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;

}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.for-hover {
    display: inline;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}

div.post-content {
    margin-left: 120px;
    margin-bottom: 5px;
    min-height: 48px;
}

div.post-body {
    word-wrap: break-word;
    height: 150px;
    overflow: auto;
}

#about_me {
    word-wrap: break-word;
}

div.post-footer {
    margin: 8px;
    margin-top: 40px;
    text-align: right;
}
div.glyphicons-posts {
    text-align: left;
    position: absolute;
    margin-left: -120px;
}
div.glyphicons-comments {
    text-align: left;
    margin-left: -60px;
    position: absolute;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 80px;
}

div.comment-body {
    word-wrap: break-word;
    padding-right: 180px;
}

div.comment-form {
    margin: 16px 0px 16px 32px;
}

div.comment-footer {
    margin: 8px;
    margin-top: 10px;
    text-align: right;
    z-index: 2;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

#flask-pagedown-body {
    height: 200px;
}

.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

label.to-show {
    transition: all 1.5s;
    margin: -10% 0 0 25%;
    position: absolute;
    border-radius: 5px;
}

label.to-show:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
   transition:all 0.3s ease;
   background-color: #006400;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
   transform: scale(1.4);
}

label.to-show-comment {
    transition: all 1.5s;
    margin: -3% 0 0 30%;
    position: absolute;
    border-radius: 5px;
}

label.to-show-comment:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 03s ease;
    transition: all 0.3s ease;
    background-color: #006400;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

form.form-comment-edit {
    margin-top: -30px;
}

form.form-comment-edit textarea {
    max-width: 75%;
}

td.voters {
    padding: 5px;
    text-align: center;
}

.btn-googleplus {
    background: #E93F2E;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b72213;
}

.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff;
}

.btn-googleplus:active, .btn-googleplus:hover {
    background: #b72213;
    color: #fff;
}
